apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: order-processor-scaledobject
  namespace: workers
spec:
  scaleTargetRef:
    name: order-processor
  pollingInterval: 10
  cooldownPeriod: 60
  minReplicaCount: 0
  maxReplicaCount: 10
  triggers:
    - type: azure-servicebus
      metadata:
        namespace: sre-sb-namespace
        topicName: business-events
        subscriptionName: order-sub
        messageCount: "5"
      authenticationRef:
        name: order-processor-trigger-auth
