apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: retry-worker-scaledobject
  namespace: workers
spec:
  scaleTargetRef:
    name: retry-worker
  pollingInterval: 10
  cooldownPeriod: 60
  minReplicaCount: 0
  maxReplicaCount: 5
  triggers:
    - type: azure-servicebus
      metadata:
        namespace: sre-sb-namespace
        topicName: business-events
        subscriptionName: retry-sub
        messageCount: "1"
      authenticationRef:
        name: retry-worker-trigger-auth
